@import '../../styles/variables.scss';

.app {
  max-width: 1640px;
  margin: 0 auto;
  padding: 10px;

  @media (max-width: 1640px) {
    width: 1375px;
  }

  @media (max-width: 1375px) {
    width: 1110px;
  }

  @media (max-width: 1110px) {
    width: 845px;
  }

  @media (max-width: 845px) {
    width: 535px;
  }

  @media (max-width: 535px) {
    width: 375px;
  }
}

.header {
  padding-bottom: 10px;
  border-bottom: 2px solid $colorSecondary;
  display: flex;
  align-items: center;
  gap: 10px;
}

.main {
  border-bottom: 2px solid $colorSecondary;
  display: flex;

  @media (max-width: 845px) {
    display: block;
  }
}

.link {
  text-decoration: none;

  @media (max-width: 845px) {
    display: none;
  }
}

.arrowUp {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 45px;
  height: 45px;
  border: 3px solid $colorSecondary;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  backdrop-filter: blur(2px);
}