@import '../../styles/variables.scss';

.form {
	width: 298px;
	padding: 10px 0;

	@media (max-width: 845px) {
		width: 515px;
	}

	@media (max-width: 535px) {
		width: 355px;
	}

	&Title {
		padding-right: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 5px;
		cursor: pointer;
	}

	&Filters {
		&List {
			max-height: 240px;
			margin: 10px 0 0;
			overflow: auto;

			@media (max-width: 845px) {
				columns: 2;
			}

			@media (max-width: 535px) {
				columns: 1;
			}

			&DisplayNone {
				display: none;
			}
		}

		&Item {
			margin-bottom: 5px;
		}

		&Label {
			display: flex;
			gap: 10px;
			align-items: center;
			cursor: pointer;

			&Desc {
				width: 90%;
				word-wrap: break-word;
			}

			&:hover {
				color: $colorPrimary;
			}
		}
	}
}