.drugsWrapper {
	padding: 10px 0 10px 10px;
	width: 100%;

	@media (max-width: 845px) {
		padding: 10px 0 10px;
	}
}

.drugs {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;

	@media (max-width: 535px) {
		gap: 10px;
	}

	&Count {
		margin: -10px 0 10px;
		text-align: right;
	}
}