@import '../../styles/variables.scss';

.form {
	flex-shrink: 0;
	width: 298px;
	padding-top: 10px;
	padding-bottom: 10px;

	@media (max-width: 845px) {
		width: 515px;
	}

	@media (max-width: 535px) {
		width: 355px;
	}

	&Title {
		padding-right: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 5px;
		cursor: pointer;
	}

	&Filters {
		&List {
			max-height: 245px;
			margin: 10px 0 0;
			overflow: auto;

			@media (max-width: 845px) {
				columns: 2;
			}

			@media (max-width: 535px) {
				columns: 1;
			}

			&DisplayNone {
				display: none;
			}
		}

		&Item {
			margin-bottom: 5px;
		}

		&Label {
			display: flex;
			gap: 10px;
			align-items: center;
			cursor: pointer;

			&:hover {
				color: $colorPrimary;
			}
		}
	}
}