@import '../../styles/variables.scss';

.drug {
	border-radius: 10px;
	width: 250px;
	max-height: 450px;
	box-shadow: 0 0 5px $colorSecondary;
	position: relative;

	@media (max-width: 535px) {
		width: 375px;
	}

	&NoSellBy {
		box-shadow: 0 0 5px $colorWarning;
	}

	&Img {
		height: 150px;
		overflow: hidden;
		border-radius: 10px 10px 0 0;
		display: flex;
		justify-content: center;
		align-items: center;

		&>img {
			width: 100%;
		}

		@media (max-width: 535px) {
			display: none;
		}
	}

	&Desc {
		margin: 10px;

		&Title {
			font-weight: bold;

			&NoSellBy {
				color: $colorWarning;
			}
		}

		&Type {
			text-align: right;
			color: $colorSecondary;
		}

		&Categories {
			margin-top: 15px;
			padding-top: 5px;
			border-top: 1px solid $colorSecondary;
			color: grey;
			text-align: center;
		}

		&Category {
			display: inline-block;
			padding: 0 5px;
			margin: 1px;
			border: 1px solid $colorSecondary;
			font-size: 12px;
			border-radius: 10px;
			background-color: $colorThird;
			text-transform: uppercase;
		}
	}

	&Name {
		text-align: center;
		color: $colorPrimary;
	}

	&SignOverdue {
		position: absolute;
		padding: 0 5px 5px;
		top: 50%;
		left: 50%;
		color: $colorDanger;
		background: rgba(255, 255, 255, 0.5);
		font-size: 32px;
		text-align: center;
		transform: translate(-50%, -50%) rotate(-45deg);
		border-radius: 5px;
		box-shadow: 0 0 20px $colorDanger;
		backdrop-filter: blur(0.5px);
	}
}