@import '../../styles/variables.scss';

.drug {
	width: 250px;
	border-radius: 10px;
	box-shadow: 0 0 5px $colorSecondary;
	position: relative;

	@media (max-width: 535px) {
		width: 375px;
	}

	&NoSellBy {
		box-shadow: 0 0 5px $colorWarning;
	}

	&Img {
		height: 150px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10px 10px 0 0;
		overflow: hidden;

		&>img {
			width: 100%;
		}

		@media (max-width: 535px) {
			display: none;
		}
	}

	&Desc {
		margin: 10px;

		&Name {
			color: $colorPrimary;
			text-align: center;
		}

		&Type {
			color: $colorSecondary;
			text-align: right;
		}

		&Title {
			font-weight: bold;
		}

		&NoSellBy {
			color: $colorWarning;
		}

		&Amount {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 5px;

			&LeftBlock {
				display: flex;
				flex-wrap: wrap;
				gap: 4px;
			}

			&Title {
				display: flex;
				gap: 4px;
			}

			&Input {
				width: 50px;
				outline: none;
			}
		}

		&Categories {
			margin-top: 15px;
			padding-top: 5px;
			border-top: 1px solid $colorSecondary;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 5px;
			color: grey;
			text-align: center;
		}

		&Category {
			padding: 0 5px;
			border: 1px solid $colorSecondary;
			border-radius: 10px;
			background-color: $colorThird;
			font-size: 12px;
			text-transform: uppercase;
		}
	}

	&Control {
		display: flex;
		gap: 10px;

		@media (max-width: 535px) {
			gap: 20px;
		}

		&Btn {
			border: none;
			background-color: transparent;
		}
	}

	&SignOverdue {
		position: absolute;
		top: 50%;
		left: 50%;
		padding: 0 5px 5px;
		border-radius: 5px;
		box-shadow: 0 0 20px $colorDanger;
		background: rgba(255, 255, 255, 0.5);
		color: $colorDanger;
		font-size: 32px;
		text-align: center;
		transform: translate(-50%, -50%) rotate(-45deg);
		backdrop-filter: blur(0.5px);

		@media (max-width: 535px) {
			transform: translate(-50%, -50%) rotate(-25deg);
		}
	}
}